*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #2F3F49;
    color: #F4E1E1;
    /*color: #EBF5EE;*/
    /*color: #BFA89E;*/
    /*8B786D*/
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    width: 70%;
    font-size: 20px;
}

.submitBtn {
    background: #2F3F49;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 180px;
    border: 3px #8B786D outset;
}

.submitBtn:hover {
    color: gold;
    text-decoration: underline;
}

.submitBtn:active {
    border: 3px #8B786D inset;
    padding: 11px 10px 9px 10px;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #283044;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    /*color: white;*/
}

.hamburgerIcon {
    width: 200px;
    font-size: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.hamburgerIcon:hover {
    color: gold;
}

.mainMenuOptions {
    list-style: none;
    font-size: 20px;
    padding: 0;
}

@media screen and (max-width: 750px) {
    .votingImg {
        display: none;
    }
}

.authenticationLinks {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.clickableText:hover {
    text-decoration: underline;
    color: gold;
    cursor: pointer;
}

.widget {
    background: #EBF5EE;
    color: black;
    height: 70vh;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0 0 20px;
    transform: scale(0);
    min-width: 350px;
    -webkit-box-shadow: 0 0 15px 3px black;
    -moz-box-shadow: 0 0 15px 3px black;
    box-shadow: 0 0 15px 3px black;
    /*overflow-y: scroll;*/
}

.closeWidgetBtn {
    padding: 0 0 0 90%;
}

.noWidgetMsg:hover {
    cursor: pointer;
    color: gold;
}

.innerX {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background: #283044;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
}

.innerX:hover {
    opacity: 1;
    color: gold;
}

.red {
    color: red;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}